.tradeexchange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
   

    &__limit{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}