//Color
$color-root:#00ffff;
$color-root-light:#7fffd4;
$color-main:#127370;
$color-primary: #00ffff;
$color-primary-dark: #03b1b1c0;
$color-primary-hover:#43dfdf;
$color-primary-cean:#018f8fc0;
$color-secondary: #000;
$color-secondary-hover:#f1f4f8;
$color-grey-light: #555;
$color-gray-brigh:#e0e0e0;
$color-grey-dark: #333;


//Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
 $roboto-font: 'Roboto', sans-serif;
